.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4; /* Light mode background */
}

.not-found-content {
  text-align: center;
}

.not-found-title {
  font-size: 6rem;
  color: #ff4b5c; /* Custom error color */
  margin-bottom: 20px;
}

.not-found-text {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 30px;
}

.not-found-home-btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.not-found-home-btn:hover {
  background-color: #0056b3;
}
